asgiref @ file:///home/task_177184281160576/croot/asgiref_1771842852069/work
Django @ file:///home/task_177669020401633/croot/django_1776690258137/work
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1777985227506/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
setuptools==82.0.1
sqlparse @ file:///home/task_176424002765119/conda-bld/sqlparse_1764240040748/work
whitenoise==6.12.0
